body {
  align-items: left;
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border-right: solid #404040 1px;
  border-bottom: solid #404040 1px;
  border-radius: 12px;
}

header {
  float: center;
  width: 99%;
  height: auto;
  border-right: solid #404040 1px;
  border-bottom: solid #404040 1px;
  border-radius: 12px;
  padding: 10px;
  margin-right: 10px;
  background-color: lightblue;
  text-align: center;
}

.template{
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "mono-space";
  font-size: 50px;
  color: black;
  margin: 10px 0;
}

ul {
  padding: 20px;
}

li {
  list-style: none;
}

main {
  float: left;
  width: 100%;
  background-color: lightblue;
}
.book-details{
  float: left;
  align-items: center;
}
.book-details h2 {
  font-size: 44px;
  text-align: left;
  color: black;
}

.book-details h3 {
  font-size: 44px;
  color: black;
}

.book-details img {
  float: left;
  display: block;
  height: 25%;
  width: 25%;
  direction: left;
  margin: 0 auto 25px auto;
  border-radius: 50%;
}

form {
  width: 40%;
}

textarea {
  float: right;
  display: block;
  width: 30%;
  height: 20px;
  border: 1px solid gray;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

form button[type="submit"] {
  float: right;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: black;
  color: #fff;
  padding: 7px 10px;
  cursor: pointer;
}

#review-list li {
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}
