body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #404040;
}

header {
  float: center;
  width: 99%;
  height: auto;
  border-right: solid #404040 1px;
  border-bottom: solid #404040 1px;
  border-radius: 0 0 6px 0;
  padding: 10px;
  margin-right: 10px;
  background-color: burlywood;
  text-align: center;
}

h1 {
  font-family: "mono-space";
  font-size: 50px;
  color: black;
  margin: 10px 0;
}

ul {
  padding: 20px;
}

li {
  list-style: none;
}

.dropdown{
  background-color: aqua;
  padding: 2px;
}

main {
  float: left;
  width: 100%;
  background-color: antiquewhite;
}

.book-details h2 {
  font-size: 44px;
  text-align: left;
}

.book-details h3 {
  font-size: 44px;
}

.book-details img {
  display: block;
  height: 20%;
  width: 40%;
  direction: left;
  margin: 0 auto 25px auto;
  border-radius: 50%;
}

form {
  width: 40%;
}

textarea {
  display: block;
  width: 100%;
  height: 100px;
  border: 1px solid gray;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

form button[type="submit"] {
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: black;
  color: #fff;
  padding: 7px 10px;
  cursor: pointer;
}

#review-list li {
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}
